body {
    color: #210;
    font-family: 'Verdana', sans-serif;
    margin: 0px 25px;
}

a {
    color: #267;
    text-decoration: none;
}

a:hover {
    color: #22aace;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    padding: 20px 30px;
}

footer {
    color: #777;
    font-size: 8px;
}

header {
    overflow: auto;
    padding: 20px 60px 20px 0px;
}

#logo {
    border: 1px solid #210;
    margin: 0;
    font-weight: bold;
    font-size: 42px;

    padding: 30px;
    display: inline;
    float: left;
}

header nav {
    float: left;
}

header nav ul {
    list-style: none;
}

div.page {
    border: 1px solid #210;
}

div.page h1 {
    font-size: 22px;
}

div.page h2 {
    font-size: 19px;
}

div.page h1:first-of-type {
    margin-top: 6px;
}

pre, code {
    background-color: #DDD;
}

pre {
    margin-left: 6px;
    margin-right: 6px;
    padding: 6px;
}

@media (max-width: 888px) {
    header, footer, div.page {
        width: auto;
    }

    #logo {
        font-size: 30px;
        padding: 20px
    }

    header nav ul {
        margin: 2px;
        padding-left: 26px;
    }

    footer {
        padding: 2px;
    }

    div.page {
        padding: 0px;
        border: none;
    }
}